<!--<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">

    <div class="logo-container">

        <button class="logo">A</button>
        <div class="logo-text" *ngIf="collapsed">Angular</div>
        <button class="btn-close" *ngIf="collapsed">
            <i class="fal fa-times close-icon"> </i>
        </button>
    </div>

    <ul class="sidenav-nav">

        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a  class="sidenav-nav-link" [routerLink]="[data.routerLink]">
                <i class="sidenav-link-icon" [class]="data.icon"> </i>
                <span class="sidenav-link-text" *ngIf="collapsed" >{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    
    <button class="burger" onclick="toggleMenu()"></button>
    <div class="background"></div>
    <div class="menu">
        <nav>
            <a style="animation-delay: 0.2s">
            about
            </a>
        </nav>
    </div>
    <script type="text/javascript">
        const toggleMenu = () =>
        document.body.classList.toggle("open");
    </script>
  </body>

 
  </html>

  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row d-flex d-md-block flex-nowrap wrapper">
            <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
                <div class="list-group border-0 text-center text-md-left">
                    <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">Dashboard</span> </a>
                    <div class="collapse" id="menu1" data-parent="#sidebar">
                        <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
                        <div class="collapse" id="menu1sub1" data-parent="#menu1">
                            <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem a</a>
                            <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem b</a>
                            <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem c </a>
                            <div class="collapse" id="menu1sub1sub1">
                                <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem c.1</a>
                                <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem c.2</a>
                            </div>
                            <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem d</a>
                            <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem e </a>
                            <div class="collapse" id="menu1sub1sub2">
                                <a href="#" class="list-group-item">Subitem e.1</a>
                                <a href="#" class="list-group-item">Subitem e.2</a>
                            </div>
                        </div>
                        <a href="#menu1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 2</a>
                        <div class="collapse" id="menu1sub2" data-parent="#menu1">
                            <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>
                            <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 2 b</a>
                            <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 c </a>
                            <div class="collapse" id="menu1sub1sub1">
                                <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.1</a>
                                <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.2</a>
                            </div>
                            <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 4 d</a>
                            <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 5 e </a>
                            <div class="collapse" id="menu1sub1sub2">
                                <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.1</a>
                                <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.2</a>
                            </div>
                        </div>
                        <a href="#" class="list-group-item">Subitem 3</a>
                    </div>
                    <a href="#" class="list-group-item d-inline-block collapsed"><i class="fa fa-film"></i> <span class="d-none d-md-inline">Item 2</span></a>
                    <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false"><i class="fa fa-book"></i> <span class="d-none d-md-inline">Item 3 </span></a>
                    <div class="collapse" id="menu3" data-parent="#sidebar">
                        <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
                        <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
                        <div class="collapse" id="menu3sub2">
                            <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
                            <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
                            <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
                        </div>
                        <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
                    </div>
                    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="d-none d-md-inline">Item 4</span></a>
                    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-list"></i> <span class="d-none d-md-inline">Item 5</span></a>
                    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-clock-o"></i> <span class="d-none d-md-inline">Link</span></a>
                    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-th"></i> <span class="d-none d-md-inline">Link</span></a>
                    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-gear"></i> <span class="d-none d-md-inline">Link</span></a>
                    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-calendar"></i> <span class="d-none d-md-inline">Link</span></a>
                    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-envelope"></i> <span class="d-none d-md-inline">Link</span></a>
                    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart-o"></i> <span class="d-none d-md-inline">Link</span></a>
                    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-star"></i> <span class="d-none d-md-inline">Link</span></a>
                </div>
            </div>
            <main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
                <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="text-dark fa fa-navicon fa-lg py-2 p-1"></i></a>
                <div class="page-header">
                    <h2 class="display-4 font-weight-light">Bootstrap 4 Sidebar</h2>
                </div>
                <p class="lead">A responsive, multi-level vertical accordion menu.</p>
                <hr>
                <p>Responsive sidebar, vertical accordion menu on Bootstrap</p>
            </main>
        </div>
    </div>

     
</body>
</html>



-->

<!--<ng-sidebar-container>

    <! A sidebar 
    <ng-sidebar [(opened)]="opened" position="left" class="navbar">
        <div class="text-justify mt-2 ml-4">
          <button closeSidebar type="button" class="btn btn-secondary">Close</button>
        </div>
  
        <div class="container">
          <nav class="side-nav">
            <ul class="nav-menu">
              <li class="nav-item"><a href="#"><i class="fas fa-tachometer-alt"></i><span class="menu-text">Dashboard</span></a></li>
              <li class="nav-item"><a href="#"><i class="fas fa-user"></i><span class="menu-text">Users</span></a></li>
              <li class="nav-item active"><a href="#"><i class="fas fa-file-alt"></i><span class="menu-text">Posts</span></a></li>
              <li class="nav-item"><a href="#"><i class="fas fa-play "></i><span class="menu-text">Media</span></a></li>
              <li class="nav-item"><a href="#"><i class="fas fa-sign-out-alt"></i><span class="menu-text">exit</span></a></li>
            </ul>
          </nav>
        </div>
      </ng-sidebar>
  
       Page content 
      <div ng-sidebar-content>
          
        <button (click)="toggleSidebar()">Toggle sidebar</button>
      
        
      </div>
  
    </ng-sidebar-container>-->

   
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">Estudiantes</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">                        
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-outline-light">Buscar</button>             
              
            </form>
          </div>
        </div>
        
      </nav>

      <app-toolbar></app-toolbar>