<div class="container mt-5">

    
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            
            <div class="card text-center">

                <div class="card-body">

                    <h1>Gestion de Inscripciones</h1>
                </div>

         
            </div>
            
        </div>
    </div>


        <div class="row mt-3">

            <div class="col-lg-6 text-center">
                <div class="card">
                    <h4>nueva Inscripcion</h4>
                    <app-crear-editar-cursos></app-crear-editar-cursos>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <div class="card">
                    <h4>Lista de Inscripciones</h4>
                    <app-listar-inscripcion></app-listar-inscripcion>
           
                </div>
            </div>

         </div>



         
</div>

    
 